// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
  position: absolute;
  right: 0;
  top: 2rem;
  z-index: 2;
  background: white;
  border: 2px solid $light-gray;
  padding: 0.5rem;
  width: 10rem;

  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-subtitle {
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
  font-size: .75rem;
}

.gear-dropdown > li {

}