// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
  position: absolute;
  right: 0;
  top: 2rem;
  z-index: 2;
  background: white;
  border: 2px solid $light-gray;
  padding: 0.5rem;
  width: 10rem;
}

.dropdown-subtitle {
  font-variant: small-caps;
}

.gear-dropdown > li {

}