<div class="masthead">

  <nav class="language-nav">
    <ul>
      <li>
        <a href="test">CSS</a>
      </li>
      <li>
        <a href="test">HTML</a>
      </li>
      <li>
        <a href="test">Javascript</a>
      </li>
      <li>
        <a href="test">Ruby</a>
      </li>
    </ul>
  </nav>
  
  <img class="logo" src="assets/AA_Times_Logo.png">  

  <ul class="masthead-links">
    <li>
      <time>
        Tuesday, October 18, 2016
      </time>
    </li>
    <li>
      Today’s Paper
    </li>
    <li>
      <i class="fas fa-video"></i>Video
    </li>
    <li>
      77°F
    </li>
    <li>
      AAO <strong>+100%</strong>
    </li>
  </ul>
 
 


</div>